.root{
    -fx-background-image: url("/resources/images/backgrounds/used/background-2.png");
}

.text-field{
    -fx-font-size: 20px;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 0 , 3 );
}

.label{
    -fx-font-size: 30px;
}

#btnAddAll{
    -fx-font-size: 25px;
    -fx-text-fill: green;
}

#btnRemoveAll{
    -fx-font-size: 25px;
    -fx-text-fill: red;
}

.incorrectField{
    -fx-effect: innershadow( gaussian , red , 4, 1 , 0.0 , 0 );
}

.incorrectField:focused{
    -fx-effect: innershadow( gaussian , red , 7, 1.5 , 0.0 , 0 );
}